* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    margin: 3px;
    padding: 5px;
    color: black;
    border-radius: 12px;
    background-image: url('https://hd.unsplash.com/photo-1436262513933-a0b06755c784');
}
header h1 {
    font-size: 35px;
    color: red;
    padding-left: 10px;
}
p {
    padding-left: 10px;
}
.green {
    padding-left: 10px;
    color: green;
}
.hr1 {
    height: 2px;
    background-color: #FF9933;
}
.hr2 {
    height: 2px;
    background-color: #FFFFFF;
}
.hr3 {
    height: 2px;
    background-color: #138808;
}
#map {
    height: 100%;
    width: 100%;
}
.list {
    color: black;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.filterlist {
    color: blue;
    font-size: 15px;
}
#pano {
    width: 600px;
    height: 200px;
}
.listview {
    padding-bottom: 10px;
}
.image {
    float: right;
    max-width: 100%;
    padding-bottom: 10px;
    padding-right: 20px;
}
.mob-nav {
    width: 100%;
}
.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}
.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0, 0, 0);
    z-index: 99;
}
.responsive-menu {
    display: none;
}
.expand {
    display: block !important;
}
@media only screen and (max-width: 700px) {
    #map {
        height: 100%;
        position: absolute;
        width: 94%;
        padding-top: 5px;
    }
    #pano {
        width: 200px;
        height: 100px;
    }
    .menu-btn div {
        position: absolute;
        left: 100%;
        top: 64%;
        padding-right: 8px;
        margin-top: -0.50em;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 200;
        vertical-align: middle;
        z-index: 99;
    }
    .menu-btn span {
        display: block;
        width: 19px;
        height: 3px;
        margin: 4px 0;
        background: rgb(0, 0, 0);
        z-index: 99;
    }
    .responsive-menu {
        display: none;
    }
    .expand {
        display: block !important;
    }
}
@media only screen and (max-width: 350px) {
    .image {
        float: center;
    }
}